.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    border-radius: 7px;  
    }
    
    .div1 { grid-area: 1 / 1 / 5 / 2; }
    .div2 { grid-area: 1 / 2 / 5 / 3; }
    .div3 { grid-area: 1 / 3 / 3 / 4; }
    .div4 { grid-area: 3 / 3 / 5 / 4; }
    .div5 { grid-area: 5 / 3 / 7 / 4; }
    .div6 { grid-area: 5 / 1 / 7 / 3; }
    .border_img{
        border-radius: 9px;
    }